@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

 html, body{
   height: 100%;
   width:100%;
   font-family: 'Poppins', sans-serif;
   color:#222
 }

 #ska{
     background-color:black;
 }
 .theRows{
  padding-left:20%;
}
 .navbar {
   padding: .8rem;
 }
 .navbar-nav {
   padding-right:30px;
 }
 .nav-link {
   font-size:1.1em !important;
 }
.bg-light{
  background-color:white !important;
}
 .carousel-inner img{
   width: 100%;
   height: 100%;
 }
 .carousel-caption{
   position:absolute;
   top:50%;
   transform: translateY(-50%)
  }
  .carousel-caption h1{
    font-size:500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px 15px #000;
  }
  .carousel-caption h3 {
    font-size:200%;
    font-weight: 500;
    text-shadow: 1px 1px 1px 10px #000;
    padding-bottom:1rem;
  }
  .btn-primary {
    background-color:#4097e1;
    border: 1px solid #4097e1;
  }
    .nav-item:hover{
        background-color:#4097e1;
        border-radius: 9px;
    }
  .fa-phone{
    color: #4097e1;
  }
  .fa-map-marker{
    color: #4097e1;
  }
  .fa-envelope{
    color: #4097e1;
  }
  .btn-primary:hover {
    background-color: #8da123;
    border: 1px solid #4097e1;
  }
 .jumbotron{
   padding:1rem;
   border-radius:0;
 }
 .padding{
   padding-bottom:2rem;
 }
.welcome {
  width:374%;
  margin: 0 auto;
  padding-top:2rem;
}
.welcome hr {
  border-top:2px solid #b4b4b4;
  width:95%;
  margin-top:.3rem;
  margin-bottom:1rem;
}
.fa-code {
  color:#e5d426;
}
.nueva{
  width:56%;
}
.ideal{
  width:40%;
}
.pyramis{
  width:91%;
}
.social a {
  font-size: 4.5em;
  padding:3rem;
}
.fa-facebook {
  color:#3b5998;
}
.fa-google-plus-g {
  color:#dd5b39;
}
.fa-instagram{
  color:#517fa4;
}
.fa-youtube{
  color:#dd5b39;
}
.fa-facebook:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover {
  color: #d5d5d5;
}
footer{
  background-color:#3f3f3f;
  color:#d5d5d5;
  padding-top:2rem;
}
hr.light {
  border-top:1px solid #d5d5d5;
  width:75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100{
  border-top:1px solid #d5d5d5;
  width:100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.greg{
  margin-top: 2.1rem;
}
#cerlat{
  background-image: url(../cerla.jpg);
  background-repeat: no-repeat;
  background-color:blue;
  width:20px;
  height: 20px;

}
.skata2{
  background-color:black;
}
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.txt{
  margin-left: 15px;
}
.card-body{
  background-color: #4097e1;
  color:white;
}
.colorbtn{
  color:white;
  border: 1px solid #FFF;
}
.my-4{
  border-top: 1px solid #4097e1;
}
.alignform{
 margin-left: 92px;
}
/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  .theRows{
    padding-left:0%;
  }
}
@media (max-width: 768px) {
  .theRows{
    padding-left:0%;
  }
  .alignform{
    margin-left:0px;
  }
   .carousel-caption{
     top:45%;
   }
   .carousel-caption h1 {
     font-size:350%;
   }
   .carousel-caption h3 {
     font-size:140%;
     font-weight:400;
     text-shadow: 1px 1px 10px #000;
    padding-bottom: .2rem;
   }
   .carousel-caption .btn {
     font-size: 95%;
     padding: 8px 14px;
   }
   .display-4 {
     font-size:200%
   }
   .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
 .btngregstyle{
   background-color:white;
   color: #4097e1;
 }
  }
@media (max-width: 576px) {
  .theRows{
    padding-left:0%;
  }
  .carousel-caption{
    top:40%;
  }
  .carousel-caption h1 {
    font-size:180%;
  }
  .carousel-caption h3 {
    font-size:110%;
  }
  .carousel-caption .btn {
    font-size: 85%;
    padding: 8px 14px;
  }
  .carousel-indicators{
    display:none;
  }
  .display-4{
    font-size:150%;
  }
  .social a {
    font-size:1.8em;
    padding:.7rem;
  }
  .txt{
    display:none;
  }
  .gregclass{
    margin-left: 38px;
    font-size: 17px;
    margin-bottom: -11px;
    color: #4097e1;
  }
  .gregtxtcolor{
    color: #4097e1;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








